
.wavingHand{
    margin-left: 20px;
    animation-name: wave-animation;
    animation-duration: infinite;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%; 
    display: inline-block;

}

@keyframes wave-animation{
    0% {transform: rotate(0.0 deg)}
    15% {transform: rotate(14.0 deg)}
    30% {transform: rotate(-8.0 deg)}
    40% {transform: rotate(14.0 deg)}
    50% {transform: rotate(-4.0 deg)}
    60% {transform: rotate(10.0 deg)}
    70% {transform: rotate(0.0 deg)}
    100% {transform: rotate(0.0 deg)}
}